.alertBox {
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  display: block;
}

.float {
  float: left;
}

.blue {
  background-color: deepskyblue;
}

.yellow {
  background-color: khaki;
}

.grey {
  background-color: lightgrey;
}

.closeBtn {
  margin-top: 17px;
}